body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 4px;
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    box-shadow: 1px 1px 7px;
    border-radius: 8px;
    background-color: #035aa6;
}