body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 2px 6px;
  font-family: "Broadway";
  text-align: center;
}

#img {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  
}
