section {
  margin-top: 50px;
  text-align: center;
}
p {
  width: 70vw;
  margin: auto;
  text-shadow: 1px 1px 1px white;
  text-align: justify;
}
h2{
  text-shadow: 1px 1px 1px white;
}
h3{
  text-shadow: 1px 1px 1px white;
}
.junto {
  text-align: center;
}
.img{
  height: 200px;
}
#qr{
  transition: all .5s;
  cursor: pointer;
}
.qr{
  
  transform: scale(5) translate(-75px,60px);
}