body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/fondo.jpg");
  background-size: 200vh;
  margin: 0;
  padding: 0;
}

nav {
  margin-top: 10px;
  top: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  transition: background-color 0.3s ease;
}

#house {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a:hover {
  box-shadow: 2px 2px 5px black;
  background-color: #555;
  border: 1px solid white;
  color: white;
}
#imagen1 {
  height: 25px;
}
li {
  float: left;
  list-style: none;
}
#marcado {
  background-color: #555;
  border: 1px solid white;
  color: white;
  box-shadow: 2px 2px 5px black;
}
#marcado:hover {
  border: 1px solid black;
  color: black;
  background-color: rgba(255, 255, 255, 0);
}
.nav-boton {
  display: none;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  transition: background-color 0.3s ease;
  background-color: #035aa600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav-boton:hover {
  box-shadow: 2px 2px 5px black;
  background-color: #555;
  border: 1px solid white;
  color: white;
}
nav ul {
  padding: 0;
}
@media (max-width: 845px) {
  .nav-boton {
    display: inline-block;
  }
  .desaparece {
    display: none;
  }
  li {
    display: block;
    float: none;
    text-align: center;
    margin: 35px 0 35px 0;
  }
  #nav {
    margin: 0;
  }
  #nvs {
    margin-top: 25px;
  }
}
